@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: hsl(212, 45%, 89%);
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  max-width: 300px;
}

.card-img {
  width: 100%;
  border-radius: 16px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(3, 30, 65);
  margin: 20px 0;
}

.card-details {
  color: rgb(128, 127, 127);
  font-weight: 400;
  margin-bottom: 20px;
}
